<h1>All words</h1>

<div id="words">
  <div class="word row">
    <div class="col-xs-6">kot</div>
    <div class="col-xs-6">cat</div>
  </div>

  <div class="word row">
    <div class="col-xs-6">pies</div>
    <div class="col-xs-6">dog</div>
  </div>
</div>
