<h2>Add word</h2>

<%=
  form_for :word, '/words' do
    div class: 'input' do
      label      :name
      text_field :name
    end

    div class: 'input' do
      label      :translation
      text_field :translation
    end

    div class: 'controls' do
      submit 'Create Word'
    end
  end
%>